:root{
    --texto-principal:#000000;
    --texto-pergunta: #ffffff;
    --texto-resposta: #ffffff;

}

body {
    background: url('endricklindo.jpg');
    font-family: Bai Jamjuree;
}

#container{
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    color:var(--texto-pergunta);
    border: 3px solid var(--texto-pergunta);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    border-radius: 0.8rem;
}


.cartao__conteudo {
    text-align: center;
    color:var(--texto-pergunta);
    color: var(--texto-pergunta);
}

.cartao__conteudo h3{
    color:var(--texto-pergunta);
    border: 2px solid var(--texto-pergunta);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}

.cartao__conteudo__pergunta p{
   color: var(--texto-pergunta);
   font-weight: 600;
   font-size: 22px;
}
.cartao__conteudo__resposta P{
    color: var(--texto-pergunta);
    font-weight: 500;
    font-size: 20px;
    padding-top: 2em;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}